main{
display: block;
align-items: center;
justify-content: space-between;

}
main figure img {
    width: 400px;
    height: 250px;
    border-bottom: 200px;
}

main p {
    color: rgb(0, 0, 0); 
    position: absolute;
  top:08cm;
  right: 5cm;
  font-size: 120%;

    
   
    
}